@{
    ViewBag.Title = "iCloud";
 
}


<div class="container-fluid">
<div class="row">
        <div class="col-sm-4" style="background-color:lavender;">Contact</div>
        <div class="col-sm-8" style="background-color:lavenderblush;">Detail/div>
    </div>
</div>