@model MvcApplication2.Models.contactandtags
@{
    ViewBag.Title = "addnewtag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



            <div class="container">
                <h2>Add new Tag</h2>
                <form action="validitytag" role="form">
                    <div class="form-group">
                        <label for="text">Enter Tag Name</label>
                        <input type="text" class="form-control" name="tagname" id="" placeholder="Enter Tag Name">

                        <button type="submit" class="btn btn-default">Add</button>
                        </div>
                </form>
            </div>
    
  
