@model MvcApplication2.Models.contactandtags
@{
    ViewBag.Title = "Show contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <div class="container">
    <div class="col-md-4 col-md-offset-2">
        <h2>C-Tags</h2>
        <h3>Contacts with tag friends </h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th> Mobile no</th>

                <!--<th> Show Details</th>-->    


                </tr>
            </thead>
            <tbody>
                @foreach (var y in @Model.c)
                {
                    <tr id="tagrow">
                        <td>@y.Name</td>
                        <td>@y.tagname</td>
                        <!--<td><a href="ShowContactdetail?a=@y.Id.ToString()"> Detail</a></td> --> 

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>